<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shoppingmall.shoppingmall">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="shoppingmall.activity.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/gg"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="shoppingmall.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- configChanges 改变横竖屏不重新加载 -->

        <activity
            android:name="shoppingmall.activity.MainActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:launchMode="singleTask" />
        <activity
            android:name="shoppingmall.home.activity.GoodsInfoActivity"
            android:launchMode="singleTask" />
        <activity android:name="shoppingmall.home.activity.WebViewActivity" />
        <activity android:name="shoppingmall.home.activity.CallCenterActivity" />

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- alipay sdk end -->
        <activity android:name="shoppingmall.user.activity.LoginActivity" />
        <activity android:name="shoppingmall.home.activity.GoodsListActivity" />
        <activity android:name="shoppingmall.activity.QRActivity" />
        <activity android:name="shoppingmall.home.activity.SearchActivity"></activity>
    </application>

</manifest>